.background {
  background-color: #171717;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 auto;
  max-width: 1280px;
  padding: 1rem;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.title {
  font-weight: 700;
}

.link {
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.link:hover {
  color: #a3e635;
}

.link-active {
  color: #a3e635;
}

.account {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-between;
}

.user-container {
  align-items: center;
  background-color: #262626;
  border-radius: 9999px;
  display: flex;
  flex-direction: row;
  font-size: 0.875rem;
  gap: 0.5rem;
  padding-right: 1rem;
}

.avatar {
  background-color: #a3e635;
  border-radius: 9999px;
  height: 2.5rem;
  width: 2.5rem;
}

.name {
  font-weight: 600;
}

.button {
  background-color: #262626;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.5rem 1rem;

  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.button:hover {
  background-color: #a3e635;
  color: #171717;
}

@media (min-width: 640px) {
  .container {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}
